@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "KGSecondChancesSketch";
  src: url('src/assets/fonts/KGSecondChancesSketch.woff');
  src: url('src/assets/fonts/KGSecondChancesSketch.ttf') format('truetype'),
  url('src/assets/fonts/KGSecondChancesSketch.otf') format('opentype');
}

@font-face {
  font-family: "KGSecondChances";
  src: url('src/assets/fonts/KGSecondChancesSolid.woff');
  src: url('src/assets/fonts/KGSecondChancesSolid.ttf') format('truetype'),
  url('src/assets/fonts/KGSecondChancesSolid.otf') format('opentype');
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  max-width: 1980px;
  margin: 0 auto;
  margin-top: 5%;
  width: 100%;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.router-view {
  flex: 1;
}

h1 {
  font-family: "KGSecondChancesSketch", serif;
}

h2 {
  font-family: "KGSecondChancesSketch", serif;
}

p {
  font-family: "Barlow Condensed", sans-serif;
}

header {
  font-family: "Barlow Condensed", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  height: 200px; /* Vous pouvez ajuster cette valeur */
  background-color: #93C2EF;
  color: #EFC093;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000; /* Pour s'assurer que le header reste au-dessus du contenu */
  padding: 0 20px;
  box-sizing: border-box;
}
  
#body {
  padding: 50px; /* Assurez-vous que le contenu a suffisamment d'espacement */
  box-sizing: border-box;
}


#logo {
  border: 2px solid #00073c; 
  border-radius: 50%;
}

h1 {
  color: rgb(0, 7, 60); /* Couleur du texte */
  font-size: 24px; /* Taille de la police */
  text-shadow:
    -2px 2px 4px #01072d; /* Ombre diagonale dans la direction opposée */
}

.content {
  flex: 1; /* Cette partie prend tout l'espace disponible pour pousser le footer en bas */
  padding: 20px; /* Espacement interne pour le contenu */
}

nav ul {
  list-style-type: none; /* Supprime les puces de liste */
  padding: 0;
  margin: 0;
  display: flex;
}

.router-link-exact-active {
  text-decoration: underline; /* Ajoute un soulignement */
  font-weight: bold;
  color: #00073c; /* Couleur différente pour l'élément actif */
}

a,
.green {
  text-decoration: none;
  color: #407ab8;
  transition: 0.4s;
  padding: 3px;
}


@media (min-width: 1024px) {
  body {
    display: flex;
  }
}

.création {
  background-color: #EFC093; 
  margin: 20px;
  padding: 20px; 
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  border: 2px solid #00073c; 
  border-radius: 8px; 
}

.création:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4); /* Ombre en bas à droite */

}

.imgcrea {
  margin: 3%;
  border: 5px solid #555;
  border-color: black;
  display: flex;
  align-self: center;
  margin-right: 20px; 
  border: 3px solid #333; 
  border-radius: 5px; 
  transition: transform 0.3s, box-shadow 0.3s; /* Transition douce pour les effets */
  cursor: pointer; /* Change le curseur au survol pour indiquer que l'élément est cliquable */
}

.imgcrea:hover {
  transform: scale(1.1); /* Zoom léger sur l'image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre portée autour de l'image */
  border-color: #666; /* Changer la couleur de la bordure pour un effet visuel */
}

.titrecrea {
  text-align: center; 
  color: #333; 
  margin-top: 10px; 
}

#titrepagecontact, #titrepagecréa, #titrepageaccueil {
  margin: 5%;
  display: flex;
  justify-content: center;
}

/* Container d'images */
.image-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espacement entre les images */
  overflow-x: auto; /* Ajoute une barre de défilement horizontale si le contenu déborde */
  padding-bottom: 10px;
}

.imgcrea {
  max-width: 100%; /* Empêche les images de dépasser le conteneur */
  height: auto;
  cursor: pointer; /* Montre que les images sont cliquables */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 5%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 80%;
  max-width: 500px;
}

.imgmodal {
  max-width: 100%; /* Empêche les images de dépasser le conteneur */
  height: auto;
  max-width: 130px;
  border: 2px solid #333;
  border-radius: 4px;
}

.fermer {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fermer:hover,
.fermer:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Conteneur du formulaire */
form {
  font-family: "Barlow Condensed", sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #EFC093;
}

/* Styles pour les champs du formulaire */
form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

form textarea {
  resize: vertical; /* Permet à l'utilisateur de redimensionner la zone de texte verticalement */
  min-height: 150px;
}

/* Styles pour le bouton de soumission */
form button {
  background-color: #93C2EF; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border: none;
  display: flex;
  align-self: center;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

form button:hover {
  background-color: #00719e; /* Couleur de fond du bouton au survol */
}

.introuvable {
  text-align: center;
  margin-top: 50px;
}

footer {
  background-color: #93C2EF;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto; /* Assure que le footer est poussé vers le bas */
}

/* Styles pour les icônes de réseaux sociaux */
.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

/* Styles pour la date */
.date {
  margin-top: 10px;
}

.sociallinks {
  width: 10%;
}